#container{
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
 
  padding: 10px 150px 10px 150px;
  
  border-radius: 15px;
  background-color: ChineseViolet;
  text-align: left; 
}
#content-profile{
  border: 1px dashed white;
h1{ 
  font-family: Veranda ,serif; 
  font-size: 48px;
  color: AntiqueWhite; 
}
h2{
  font-family: Lato ,serif; 
  font-size: 36px;
  Color: white;}
}
#content-experience{
  border: 1px dashed white;  
h3{ 
  font-family: Palatino, serif;
  font-size: 28px;
  Color: ChineseWhite;}
  }
  

